<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- 连设置服务连接超时时间，单位为分钟 -->
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

	<!--配置过滤器-->
    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>com.bht.banhuitong.filter.SecurityFilter</filter-class>
    </filter>
    
    <!-- 映射过滤器 -->
    <filter-mapping>
        <filter-name>securityFilter</filter-name>
         <!-- “/*”表示拦截所有的请求 -->
         <url-pattern>/banhuitong/action/*</url-pattern>    <!-- 上传，下载跳过过滤拦截，避免request被二次读取，内容清空的情况 -->
    </filter-mapping>
    
  <!-- 登录等系统业务服务  Servlets -->
  <servlet>
  	<servlet-name>StartupServlet</servlet-name>
  	<servlet-class>com.bht.banhuitong.StartupServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.bht.banhuitong.server.impl.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/banhuitong/action/login</url-pattern>  
  </servlet-mapping>
 
 <servlet>
    <servlet-name>accountServlet</servlet-name>
    <servlet-class>com.bht.banhuitong.server.impl.AccountServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>accountServlet</servlet-name>
    <url-pattern>/banhuitong/action/account</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>prjServlet</servlet-name>
    <servlet-class>com.bht.banhuitong.server.impl.PrjServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>prjServlet</servlet-name>
    <url-pattern>/banhuitong/action/prj</url-pattern>
  </servlet-mapping>
   
   <servlet>
    <servlet-name>dbModelServlet</servlet-name>
    <servlet-class>com.bht.banhuitong.server.impl.DbModelServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dbModelServlet</servlet-name>
    <url-pattern>/banhuitong/action/dbmodel</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>filesServlet</servlet-name>
    <servlet-class>com.bht.banhuitong.server.impl.FileServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>filesServlet</servlet-name>
    <url-pattern>/banhuitong/action/files</url-pattern>
  </servlet-mapping>
 
 <!-- 上传及下载 --> 
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.bht.banhuitong.UploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/banhuitong/upload</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>com.bht.banhuitong.DownloadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/banhuitong/download</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
